
a{
    text-decoration: none;
}
.bar_text1{
    position: absolute;
    left: 300px;
    display: flex;
    flex-direction: row;
    width: 500px;
    
    
}
.side_bar{
    display:flex;
flex-direction: row;
    
    
    width: 600px;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;

}
Router{
    display: flex;
}
.side_bar{
    position: absolute;
    left: 300px;
}
.side-bar-text{
    background-color: white;
    color: black;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
     font-family: 'Times New Roman', Times, serif;
}
.side-bar-text:hover
{
    background-color: white;
    color: #fd4605 !important;
    transition: 0.5s;

}
h2 a{
    text-decoration: none;
    color: black;
}
    .nav_up {
        position: fixed;
        display: flex;
        
    top: 0;
    left: 0;
        height: 110px;
        width: 100%; 
        background-color:#fd4605; 
        color: white; 
        padding: 10px 20px;  
        text-align: left; 
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);  
        z-index: 1000; 
    }
    
h5{
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
  
}

.home-navbar{
    display: flex;
width: 100%;

    width: 100%;
    height: 95px;
    position: absolute;
    top: 35px;
    align-items: center;
   left: 0;
 
    background-color: #fffffe
}
.main-nav-email{
    margin-right: 10px;
    width: 190px;
}
.main-nav-phone{
    width: 200px;
}
.main-nav{
    width: 1000%;
    height: 80px;
    background-color: red;
   
    top: 30px;
    
}
.main-nav-text1{
    margin-top: 10px;
    margin-right:10px;
}
.open{
    margin-right: 10px;
}

.nav-up-home{
    width: 100%;
    height: 100px;
    background-color:#fffffe;
    margin-top: 25px;
    position: absolute;
    left: 0px;
    display: flex;
    align-items: center;
}
.nav-home-open{
    margin-left: 150px;
    font-size: 30px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.nav-home-donate{
    margin-left: 5px;
    font-size: 30px;
    color: #fd4605;
}

.home-side-path{
    width: 600px;
    height: 50px;
    color: black;
    margin-left: 400px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.home-side-gallery:hover{
    color: #fd4605;
    transition: 0.6s;
    cursor: pointer;
}
.home-side-contact:hover{
    color: #fd4605;
    transition: 0.6s;
    cursor: pointer;
}
.home-side-about:hover{
    color: #fd4605;
    transition: 0.6s;
    cursor: pointer;
}
.home-side-cause:hover{
    color: #fd4605;
    transition: 0.6s;
    cursor: pointer;
}
